<div class="row add-pickup-form-container">
	<form class="add-pickup-form">
		<div class="col-xs-2">
			<div class="form-group">
				<label for="type">Type</label>
				<select name="type" class="form-control">
					<option value=""> - Select Pickup - </option>
					<option value="driver">Driver</option>
					<option value="nanny">Nanny</option>
				</select>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="first_name">First Name</label>
				<input type="text" name="first_name" class="form-control" placeholder="First Name" />
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="last_name">Last Name</label>
				<input type="text" name="last_name" class="form-control" placeholder="Last Name" />
			</div>
		</div>
		<div class="col-xs-2">
			<div class="form-group">
				<label for="phone">Phone</label>
				<input type="text" name="phone" class="form-control" placeholder="Phone" />
			</div>
		</div>
		<div class="col-xs-4">
			<div class="add-pickup-button-container">
				<button class="button add-pickup">Save</button>&nbsp;&nbsp;&nbsp;<a class="cancel">Cancel</a>
			</div>
		</div>
	</form>
</div>
