footer .copyright {
	text-align: center;
}
label.error {
	color: #FF0000;
}
.error-container {
	font-weight: bold;
	color: #FF0000;
}
#success-container {
	font-weight: bold;
	padding: 10px;
	text-align: center;
	color: #00FF00;
}
#success-container-principal,
#success-container-school-admin {
	font-weight: bold;
	padding: 10px;
	color: #00FF00;
}
#limit-container-principal,
#limit-container-school-admin {
	font-weight: bold;
	padding: 10px;
	color: #FF0000;
}
#login-container {
	width: 80%;
	margin: 0px auto;
	padding: 60px;
}
#admin-container{
	margin-top:60px
}
.center-wrapper{
	display: block;
	width:100%;
	max-width:400px;
	margin: 0 auto;
	position: relative;
}
.panel-body{
	width: 100%;
	max-width: 400px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	padding: 50px;
}
.panel{
	border:none;
}
#admin-form .btn.btn-primary,
#admin-forget-password .btn.btn-primary {
	width: 100%;
}
.logo{
	display:block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.logo-img{
	width: 250px;
}
.forget-password,
.login-link {
	width: 100%;
	text-align: center;
	display: block;
	font-size: 14px;
	color: #999;
}
#admin-form,
#admin-forget-password {
	display:none;
}
#admin-form.form-active,
#admin-forget-password.form-active{
	display:block
}
.admin-content-wrapper {
	display: table;
	width: 100%;
	background-color: #222;
}
.admin-sidebar,
.admin-content {
	display: block;
}
.admin-sidebar {
	float: left;
	background-color: #222;
	color: #fff;
	width: 200px;
	padding: 20px;
}
.admin-sidebar a {
	color: #fff;
}
.admin-sidebar h3 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 30px;
}
.admin-sidebar .sidebar-nav {
	padding: 0;
	list-style-type: none;
}
.sidebar-nav li {
	margin-bottom: 20px;
}
.admin-content {
	float: right;
	width: calc(100% - 200px);
	background-color: #fafafa;
	position: relative;
}
.admin-page-header {
	padding: 20px;
	display: table;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	position: relative;
}
.admin-logout {
	float: right;
}
.admin-page-header h4 {
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	margin: 0;
}
.admin-main-content {
	background-color: #fafafa;
	padding: 20px;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
.admin-footer {
	padding: 20px;
	background-color: #fafafa;
	border-top: 1px solid #eaeaea;
	width: 100%;
}
.admin-footer p {
	margin-bottom: 0;
}
.list-status {
	margin: -12px;
	list-style-type: none;
	padding: 0;
}
.list-status::after{
	content:"";
	display: table;
	clear: both;
}
.list-status .status {
	display: block;
	float: left;
	width: 200px;
	padding: 12px;
}
.status-content {
	display: block;
	text-align: center;
	background-color: #00BFFF;
	padding: 20px;
	border-radius: 10px;
	color: #fff
}
.status-content h2{
	margin-bottom: 10px;
	color: #fff
}
.admin-sidebar .active {
	color: #00BFFF;
}
.admin-main-content h4 {
	float: left;
	padding: 15px;
	margin-top: -8px;
}
.add-type {
	margin-left: -15px;
	margin-bottom: 10px;
	display: table;
}
.list-type {
	margin: -12px;
	list-style-type: none;
	padding: 0;
}
.list-type::after {
	content:"";
	display: table;
	clear: both;
}
.list-type .type {
	display: block;
	float: left;
	width: 50%;
	padding: 12px;
}
.type th {
	background-color: #fff;
	padding:  10px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
.type td {
	padding: 10px;
	background-color: #eaeaea;
}
.type tr {
	box-shadow: 2px 0 0 rgba(0,0,0,0.2);
	padding: 10px;
}
.type #value {
	background-color: #fff;
	text-align: left;
	width: 10%;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
.type .edit {
	display: block;
	margin-top: 15px;
	font-size: 18px;
}
.add-school{
	margin-left: -18px;
}
.school-form{
	display: table;
	width: 75%;
}
.account-type-option {
	float: right;
	margin-top: -470px;
	width: 25%;
	padding: 40px;
	display: block;
}
.account-type-option #account_type{
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}
.account-type-option .btn.btn-primary {
	display: block;
	width: 100%;
	padding: 10px;
}
.account-type-option p {
	font-weight: bold;
}
.principal-form{
	display: table;
	width: 75%;
	margin-top: 20px;
}
.principal-form .principal-header{
	background-color: #eaeaea;
	margin-bottom: 20px;
	display: table;
	width: 100%;
	padding: 15px;
}
.principal-header .add-principal{
	background-color: #337ab7;
	float: right;
	color: #fff;
}
.principal-header p {
	font-weight: bold;
	float: left;
	line-height: 2.5;
	margin-bottom: 0;
}
.principal-form .form-group {
	width: 90%;
	float: left;
}
.principal-form .delete-btn{
	float: right;
	width: 40px;
	height: 40px;
	background-image: url(/public/img/icon-delete.png);
	margin-top: -195px;
}
.principal-form #success-container {
	float: left;
	padding: 20px;
}
.school-avatar{
	display: block;
	float: right;
	width: 25%;
	margin-top: -800px;
}
.school-avatar .school-avatar-content{
	background-color: #fff;
	width: 75%;
	margin-left: 40px;
	height: 200px;
	padding: 20px;
}
.school-avatar .school-avatar-header {
	font-weight: bold;
	width: 75%;
	background-color: #eaeaea;
	margin-left: 40px;
}
.school-avatar p {
	padding: 5px;
	line-height: 2.5;
}
.school-avatar .upload-btn {
	background-color: #eaeaea;
	height: 155px;
	width: 100%;
	padding: 40px;
}
.school-avatar .btn.btn-default.btn-file {
	width: 90px;
	height: 40px;
	background-color: #337ab7;
	margin-top: 20px;
	color: #fff;
	padding: 8px;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.school-admin-form {
	display:table;
	width: 75%;
	margin-top: 20px;
}
.school-admin-form .school-admin-header {
	background-color:  #eaeaea;
	margin-bottom: 20px;
	display: table;
	width: 100%;
	padding: 15px;
}
.school-admin-header .add-school-admin{
	float: right;
	background-color: #337ab7;
	color: #fff;

}
.school-admin-header p {
	font-weight: bold;
	float: left;
	line-height: 2.5;
	margin-bottom: 0;
}
.school-admin-form .form-group {
	width: 90%;
	float: left;
}
.school-admin-form .delete-btn {
	float: right;
	width: 40px;
	height: 40px;
	background-image: url(/public/img/icon-delete.png);
	margin-top: -195px;
}
.school-admin-form #success-container {
	float: left;
	padding: 20px;
}
.hidden {
	display: none;
}
.list-principal-data{
	list-style-type: none;
	margin: -12px;
	padding: 0;
}
.list-principal-data::after {
	content: "";
	display: table;
	clear: both;
}
.principal {
	display: block;
	float: left;
	padding: 12px;
	width: 30%;
	border: solid 1px;
	margin-top: 20px;
	margin-left: 12px;
}
.list-school-admin-data {
	list-style-type: none;
	margin: -12px;
	padding: 0
}
.list-school-admin-data::after {
	content: "";
	display: table;
	clear: both;
}
.school-admin {
	display: block;
	float: left;
	padding: 12px;
	width: 30%;
	border: solid 1px;
	margin-top: 20px;
	margin-left: 12px;
}
.update-form {
	display:table;
	width: 75%;
	margin-top: 20px;
}
.update-form .form-group {
	width: 90%;
	float: left;
}
.update-form .delete-btn {
	float: right;
	width: 40px;
	height: 40px;
	background-image: url(/public/img/icon-delete.png);
	margin-top: -195px;
}
.update-form p {
	font-weight: bold;
}
#update-form .btn.btn-primary,
#update-form-principal {
	margin-bottom: 30px;
}
.principal-container,
.school-admin-container {
	border: solid 1px;
	margin-left: 15px;
	margin-top: 20px;
	padding: 20px;
}
.principal-container .fullname 
.school-admin-container .fullname{
	margin-bottom: 10px;
}
#preview-principal-container,
#preview-school-admin-container, {
	width: 75%;
}


#school-admin-form,
#school-admin-forget-password {
	display:none;
}
#school-admin-form.form-active,
#school-admin-forget-password.form-active{
	display:block
}
.school-admin-content-wrapper {
	display: table;
	width: 100%;
	background-color: #eaeaea;
}
.school_admin_sidebar,
.school-admin-content {
	display: block;
}
.school-admin-sidebar {
	float: left;
	background-color: #eaeaea;
	color: #000000;
	width: 200px;
	padding: 20px;
}
.school-admin-sidebar a {
	color: #000000;
}
.school-admin-sidebar h3 {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 30px;
}
.school-admin-sidebar .sidebar-nav {
	padding: 0;
	list-style-type: none;
}
.school-admin-content {
	float: right;
	width: calc(100% - 200px);
	background-color: #fafafa;
	position: relative;
}
.school-admin-page-header {
	padding: 20px;
	display: table;
	width: 100%;
	background-color: #808080;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	position: relative;
	color: #fff;
}
.school-admin-logout {
	float: right;
	color: #fff;
}
.school-admin-page-header h4 {
	font-size: 16px;
	text-transform: uppercase;
	float: left;
	margin: 0;
}
.school-admin-main-content {
	background-color: #fafafa;
	padding: 20px;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
.school-admin-footer {
	padding: 20px;
	background-color: #fafafa;
	border-top: 1px solid #eaeaea;
	width: 100%;
	display: table;
}
.school-admin-footer p {
	float: left;
	margin-bottom: 0;
}
.school-admin-footer a {
	float: right;
	margin-bottom: 0;
}
