html, body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body {
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #6f6f6f;
}
a, a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #00ACD3;
}
a.small {
	font-size: 12px;
}
.button {
	border: none;
	background-color: #00ACD3;
	color: #FFFFFF;
	padding: 10px 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.button.red {
	background-color: #FF0000;
}
.button:hover {
	background-color: #00b3db;
}
.button.red:hover {
	background-color: #ba2c2c;
}
a.button, a.button:hover {
	color: #FFFFFF;
}
.button.disabled {
	cursor: auto;
	background-color: #BCBCBC;
}
.center {
	text-align: center;
}
.margintop10 {
	margin-top: 10px;
}
.marginbottom30 {
	margin-bottom: 30px;
}
.sq-hidden {
	display: none;
}
.row.container-fluid {
	margin-right: 0px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 20px;
}
footer .left {
	text-align: left;
}
footer .right {
	text-align: right;
}
.left-panel {
	min-height: 100%;
	padding: 0;
}
.left-panel.school_admin {
	background-color: #F0F1F4;
}
.right-panel {
	height: 100%;
	padding: 0;
	overflow-y: scroll;
}
.left-panel .header {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0px 40px 15px;
}
.left-panel .nav li a {
	color: #000000;
	font-weight: bold;
}
.left-panel .nav li.active a {
	color: #00ACD3;
}
.right-panel .navbar {
	left: 16.66666667%;
	color: #FFFFFF;
	background-color: #8B9299;
}
.right-panel .navbar.navbar-default {
	background-color: #8B9299;
	color: #FFFFFF;
	height: 60px;
}
.right-panel .navbar-fixed-top {
	border-width: 0;
}
.right-panel .navbar .page-title {
	text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    margin: 17px 20px;
}
.right-panel .navbar .navbar-nav {
	height: 60px;
}
.right-panel .navbar .navbar-nav .hello {
	font-size: 16px;
	margin: 19px 10px 19px 0;
}
.right-panel .navbar .navbar-nav .dropdown {
	height: 60px;
}
.right-panel .navbar .navbar-nav .dropdown .avatar {
	height: 60px;
	padding: 20px 15px
}
.right-panel .navbar .navbar-nav .dropdown .avatar .avatar-logo {
	width: 20px;
}
.right-panel #page-content {
	margin-top: 60px;
}
.sq-container {
	padding: 20px;
}
.sq-loading-overlay {
	position: fixed;
	z-index: 9999;
	height: 5em;
	width: 105px;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #FFFFFF;
	text-align: center;
}
.sq-loading-overlay:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.sq-loading-overlay .loader {
	border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.sq-loading-overlay .loading-text {
	position: absolute;
	top: 60px;
	letter-spacing: 0.18em;
}
.error-container, label.error {
	color: #FF0000;
}
.right {
	text-align: right;

}
/* jGrowl */
div.jGrowl div.ui-state-highlight {
	color: #FFFFFF;
}
div.jGrowl div.jGrowl-notification div.jGrowl-message a {
	color: #FFFFFF;
	font-weight: bold;
}
.jGrowl-notification .jGrowl-close {
	background-color: transparent;
	border: none;
	float: right;
	font-weight: bold;
	padding: 0px;
}
.nav-tabs > li > a {
	font-size: 18px;
}
/** Login **/
#sq-login-container {
	width: 450px;
	margin: 100px auto 0;
}
#sq-login-container .logo-container {
	width: 240px;
	margin: 0 auto 30px;
}
#sq-login-container .form-container {
	-webkit-box-shadow: 3px 4px 44px 1px rgba(221,221,221,1);
	-moz-box-shadow: 3px 4px 44px 1px rgba(221,221,221,1);
	box-shadow: 3px 4px 44px 1px rgba(221,221,221,1);
	padding: 40px;
	background-color: #FFFFFF;
}
#sq-login-container .form-container .login-button {
	width: 100%;
}
#sq-login-container .form-container .forgot-password {
	color: #cccccc;
}
#sq-login-container .copyright {
	text-align: center;
	margin-top: 10px;
}
#sq-login-container .bg-gray {
	position: absolute;
	z-index: -1;
	top: 340px;
	left: 0;
	width: 100%;
	background-color: #F0F1F4;
	height: 100%;
}
/** School Admin Dashboard **/
#sq-school-admin-dashboard-container .school-info {
	margin-bottom: 30px;
}
#sq-school-admin-dashboard-container .school-info a {
	color: #6f6f6f;
}
#sq-school-admin-dashboard-container .school-info .avatar-container {
	height: 250px;
	background-size: cover;
	background-position: center;
}
#sq-school-admin-dashboard-container .school-info .school-name {
	font-size: 32px;
	font-weight: bold;
}
#sq-school-admin-dashboard-container .school-info .school-address {
	font-size: 20px;
}
#sq-school-admin-dashboard-container .redirect {
	width: inherit;
	color: #FFFFFF;
}
#sq-school-admin-dashboard-container .redirect .widget {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	background-color: #DDDDDD;
	height: 200px;
	text-transform: uppercase;
	vertical-align: middle;
	width: inherit;
	display: table-cell;
}
/** School Admin School Settings **/
#sq-school-admin-school-settings-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-school-settings-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
/** School Admin Add Teacher **/
#sq-school-admin-add-teacher-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-add-teacher-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
/** School Admin Teachers **/
#sq-school-admin-teachers-container .header {
	margin-bottom: 40px;
}
#sq-school-admin-teachers-container .header .teachers-count {
	font-size: 32px;
    font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}
#sq-school-admin-teachers-container .header .add-teacher-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-teachers-container .header .bulk-actions-container {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
#sq-school-admin-teachers-container .header .apply-button-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-teachers-container #teachers-table .is-primary {
	font-weight: bold;
	color: #2bad8c;
}
/** School Admin Edit Teacher **/
#sq-school-admin-edit-teacher-container .tab-pane {
	padding-top: 20px;
}
#sq-school-admin-edit-teacher-container #password {
	width: 600px;
}
#sq-school-admin-edit-teacher-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-edit-teacher-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
#sq-school-admin-edit-teacher-container .sq-view-password {
	top: 25px;
	right: 15px;
	pointer-events: auto;
	cursor: pointer;
}
#sq-school-admin-edit-teacher-container #classrooms .add-classroom-container {
	margin-bottom: 20px;
}
#sq-school-admin-edit-teacher-container #classrooms .no-classroom-container {
	font-size: 18px;
}
#sq-school-admin-edit-teacher-container #classrooms .classrooms-list-container .existing-classroom-container {
	margin-bottom: 20px;
}
#sq-school-admin-edit-teacher-container #classrooms .classrooms-list-container .existing-classroom-container .classroom-name {
	font-size: 20px;
	border: 1px solid #DDD;
    padding: 6px 10px;
}
#sq-school-admin-edit-teacher-container #classrooms .classrooms-list-container .existing-classroom-container .remove-classroom {
	margin-right: 10px;
}
#sq-school-admin-edit-teacher-container #classrooms .classrooms-list-container .existing-classroom-container .is-primary {
	font-size: 20px;
    color: #2bad8c;
    font-weight: bold;
}

/** School Admin Add Classroom **/
#sq-school-admin-add-classroom-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-add-classroom-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
/** School Admin Classrooms **/
#sq-school-admin-classrooms-container .header {
	margin-bottom: 40px;
}
#sq-school-admin-classrooms-container .header .classrooms-count {
	font-size: 32px;
    font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}
#sq-school-admin-classrooms-container .header .add-classroom-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-classrooms-container .header .bulk-actions-container {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
#sq-school-admin-classrooms-container .header .apply-button-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-classrooms-container #classrooms-table .is-primary {
	font-weight: bold;
	color: #2bad8c;
}
/** School Admin Edit Classroom **/
#sq-school-admin-edit-classroom-container .tab-pane {
	padding-top: 20px;
}
#sq-school-admin-edit-classroom-container #details .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-edit-classroom-container #details .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
#sq-school-admin-edit-classroom-container #teachers .add-teacher-container {
	margin-bottom: 20px;
}
#sq-school-admin-edit-classroom-container #teachers .no-teacher-container {
	font-size: 18px;
}
#sq-school-admin-edit-classroom-container #teachers .teachers-list-container .existing-teacher-container {
	margin-bottom: 20px;
}
#sq-school-admin-edit-classroom-container #teachers .teachers-list-container .existing-teacher-container .teacher-name {
	font-size: 20px;
	border: 1px solid #DDD;
    padding: 6px 10px;
}
#sq-school-admin-edit-classroom-container #teachers .teachers-list-container .existing-teacher-container .remove-teacher {
	margin-right: 10px;
}
#sq-school-admin-edit-classroom-container #teachers .teachers-list-container .existing-teacher-container .is-primary {
	font-size: 20px;
    color: #2bad8c;
    font-weight: bold;
}
/** School Admin Add Student **/
#sq-school-admin-add-student-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-add-student-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
/** School Admin Students **/
#sq-school-admin-students-container .header {
	margin-bottom: 40px;
}
#sq-school-admin-students-container .header .students-count {
	font-size: 32px;
    font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}
#sq-school-admin-students-container .header .add-student-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-students-container .header .bulk-actions-container {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
#sq-school-admin-students-container .header .apply-button-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
/** School Admin Edit Student **/
#sq-school-admin-edit-student-container .tab-pane {
	padding-top: 20px;
}
#sq-school-admin-edit-student-container #details .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-edit-student-container #details .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
#sq-school-admin-edit-student-container #parents .header {
	font-size: 20px;
	margin-bottom: 20px;
}
#sq-school-admin-edit-student-container #parents .sq-view-password {
	top: 25px;
	right: 15px;
	pointer-events: auto;
	cursor: pointer;
}
/** School Admin Add Term **/
#sq-school-admin-add-term-container {
	width: 600px;
}
/** School Admin Terms **/
#sq-school-admin-terms-container .header {
	margin-bottom: 40px;
}
#sq-school-admin-terms-container .header .terms-count {
	font-size: 32px;
    font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}
#sq-school-admin-terms-container .header .add-term-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#sq-school-admin-terms-container .header .bulk-actions-container {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
#sq-school-admin-terms-container .header .apply-button-container {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
/** School Admin Edit Term **/
#sq-school-admin-edit-term-container {
	width: 600px;
}
/** School Admin Add Subject **/
#sq-school-admin-add-subject-container .add-image-container {
	height: 250px;
    background: #b7b9bc;
    text-align: center;
    display: table-cell;
    width: inherit;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
}
#sq-school-admin-add-subject-container .image-preview-container {
	height: 250px;
    width: 100%;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
#sq-school-admin-add-subject-container textarea {
	height: 80px;
}

