<div class="principal-container" data-username="<%=principal.username%>">
	<div class="username"><%=principal.username%></div>
	<div class="email"><%=principal.email%></div>
	<div class="fullname"><%=principal.first_name + ' ' + principal.last_name%></div>
	<button class="btn btn-danger delete" type="button">Delete</button>
</div>
