<div class="school-admin-container col-xs-4">
	<div class="username"><%=school_admin.username%></div>
	<div class="email"><%=school_admin.email%></div>
	<div class="fullname"><%=school_admin.first_name + ' ' + school_admin.last_name%></div>
	<button class="btn btn-danger delete" type="button">Delete</button>
</div>
