<table id="classrooms-table" class="table table-striped">
	<thead>
		<tr>
			<th><input type="checkbox" name="check-all" /></th>
			<th>ID</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Teacher</th>
			<th>Students</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
