<% _.each(school_admin_teacher_contacts, function(satc) { %>
<tr class="view-message <%=(satc.message_read ? '' : 'bold')%>" data-contact-id="<%=satc.id%>">
	<td><%=satc.teacher.first_name + ' ' + satc.teacher.last_name%></td>
	<td><%=satc.title%></td>
	<td><%=satc.created_on.date%></td>
</tr>
<% }); %>
